<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/citizen/signup" routerLinkActive="active">SignUp</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    E-Pass Services
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['/epass/request']">Requet E-Pass</a>
                    <a class="dropdown-item" routerLink="/epass/viewAll">Previous E-Passes</a>
                    <a class="dropdown-item" routerLink="/epass/authentiacte">Approve Requests</a>
                </div>
            </li>
        </ul>
    </div>
</nav>