<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center">E-Pass Request Details</h2>
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <table class="table table-md">
          <tbody>
            <tr>
              <th scope="row">Full Name</th>
              <td>{{epasDetails.citizen!.firstName!}} {{epasDetails.citizen!.lastName!}}</td>
            </tr>
            <tr>
              <th scope="row">Email</th>
              <td>{{epasDetails.citizen!.email!}}</td>
            </tr>
            <tr>
              <th scope="row">Address Line 1</th>
              <td>{{epasDetails.citizen!.address_1!}}</td>
            </tr>
            <tr>
              <th scope="row">Address Line 2</th>
              <td>{{epasDetails.citizen!.address_2!}}</td>
            </tr>
            <tr>
              <th scope="row">E-Pass Category</th>
              <td>{{epasDetails.category}}</td>
            </tr>
            <tr>
              <th scope="row">E-Pass Status</th>
              <td colspan="2">{{epasDetails.status}}</td>
            </tr>
            <tr>
              <button type="button" class="btn btn-primary">Approve</button>
              <button type="button" class="btn btn-warning">Reject</button>
          </tbody>
        </table>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</div>