<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Citizen Registration Form </h2>
    </div>
    <div>
      <form (ngSubmit)="onSubmit()" #citizenForm="ngForm">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" placeholder="" [(ngModel)]="citizenModel.firstName"
              #firstName="ngModel" name="firstName" required>
            <div [hidden]="firstName.valid || firstName.pristine" class="invalid-feedback2">
              First Name is required
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" placeholder="" [(ngModel)]="citizenModel.lastName"
              #lastName="ngModel" name="lastName" required>
              <div [hidden]="lastName.valid || lastName.pristine" class="invalid-feedback2">
                Last Name is required
              </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="">Email</label>
            <input type="email" class="form-control" id="email" placeholder="" [(ngModel)]="citizenModel.email"
              #email="ngModel" name="email" required>
              <div [hidden]="email.valid || email.pristine" class="invalid-feedback2">
                Email is required
              </div>
          </div>
          <div class="form-group col-md-6">
            <label for="">Password</label>
            <input type="password" class="form-control" id="password" placeholder="" [(ngModel)]="citizenModel.password"
              #password="ngModel" name="password" required>
              <div [hidden]="password.valid || password.pristine" class="invalid-feedback2">
                Password is required
              </div>
          </div>
        </div>
        <div class="form-group  col-md-12">
          <label for="">Address</label>
          <input type="text" class="form-control" id="address_1" placeholder="" [(ngModel)]="citizenModel.address_1"
            #address_1="ngModel" name="address_1" required>
            <div [hidden]="address_1.valid || address_1.pristine" class="invalid-feedback2">
              Address is required
            </div>
        </div>
        <div class="form-group col-md-12">
          <label for="">Address (Optional)</label>
          <input type="text" class="form-control" id="address_2" placeholder="" [(ngModel)]="citizenModel.address_2"
            #address_2="ngModel" name="address_2">
        </div>
        <div class="col-md-12">
          <button type="submit" class="btn btn-primary" [disabled]="!citizenForm.form.valid">Sign in</button>
          <button type="submit" class="btn btn-primary" (click)="newCitizen()">Reset</button>
        </div>
      </form>
    </div>
  </div>
</div>